@model IEnumerable<MvcShopping.Models.Product>

@{
    var ajaxOption = new AjaxOptions()
    {
        OnSuccess = "AddToCartSuccess",
        OnFailure = "AddToCartFailure",
        HttpMethod = "Post"
    };
}
@section scripts
{
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jquery")
<script>
    function AddToCartSuccess()
    {
        alert("添加购物车成功");

    }
    function AddToCartFailure(xhr)
    {
        alert("添加购物车失败（http状态代码：" + xhr.tatus + ")");
    }
</script>
}
<h2>@Html.DisplayNameFor(model=>model.ToList()[0])</h2>
<h3>类别是:@Model.ToList()[0].ProductCategory.Name</h3>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>添加购物车</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "ProductDetail", new { id=item.Id})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
        @Ajax.ActionLink("添加购物车", "Cart", new {ProductId=item.Id},ajaxOption)
    
        </td>
    </tr>
}

</table>
